VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_FRIENDBOT_URL=https://friendbot.stellar.org
VITE_AD_SPACE_CONTRACT=CCI2JKAC7VBL5QQLC2RXZHI5VLG3ETWCAP4VC5AXMK67J7GZY3NAFIE3
VITE_ANTI_FRAUD_CONTRACT=CDJNWLDHWZAOX72ENVAE7W2MOUWZDNLTKHDGQMMGJTWTL7Q4T57PUA4H
VITE_NATIVE_SAC=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
VITE_ESCROW_ACCOUNT=GC26WJ2BPKVQQTI4KO57VNUNXQQA4GB4SPKF3NPIHHTIWC53BAWN3TYT
